@use '../global/index' as global;

.l-content-wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  display: grid;
  grid-template-rows: 88px auto 42px;
}
