@use '../../global/index' as global;

.p-product-detail {
  max-width: global.$product-detail-width;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: repeat(4, auto) 1fr;
  gap: 30px 64px;

  &__img {
    grid-area: 1 / 1 / 6 / 2;
    width: 100%;
  }
}

@media screen and (max-width: global.$breakpoint) {
  .p-product-detail {
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);

    &__img {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
}
