@use '../../global/index' as global;

.p-sns-links {
  display: flex;

  &__item {
    margin-right: 30px;
  }
}

@media screen and (max-width: global.$breakpoint) {
  .p-sns-links {
    margin-bottom: 5px;
  }
}
