@use '../../global/index' as global;

.c-company-info {
  width: global.$company-max-width;
  font-size: global.$font-middle;
  display: grid;
  grid-template-columns: 30% 70%;

  &__key,
  &__value {
    padding: 20px 10px;
    border-bottom: 1px solid global.$gray;
  }

  &__key:last-of-type,
  &__value:last-of-type {
    border-bottom: none;
  }
}

@media screen and (max-width: global.$breakpoint) {
  .c-company-info {
    width: 100%;
    grid-template-columns: 1fr;

    &__key {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
