@use '../../global/index' as global;

.p-product-description {
  max-width: 800px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: repeat(4, auto) 1fr;
  gap: 30px 64px;

  &__img {
    grid-area: 1 / 1 / 6 / 2;
    width: 100%;
  }
}
