@use '../global/index' as global;

.l-content-wrapper {
  width: 100%;
  height: 100vh;
  max-width: global.$content-max-width;
  margin: 0 auto;
  padding: 0 global.$content-horizontal-padding;
  display: grid;
  grid-template-rows: 88px auto 42px;
}

@media screen and (max-width: global.$breakpoint) {
  .l-content-wrapper {
    grid-template-rows: 82px auto 76px;
  }
}
