@use '../../global/index' as global;

.c-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 36px 50px;

  &__item {
    font-size: global.$font-middle;
    margin-bottom: 14px;
  }
}
