@use '../../global/index' as global;

.c-page-title {
  height: 83px;
  display: flex;
  align-items: center;
  font-size: global.$font-middle;
}

@media screen and (max-width: global.$breakpoint) {
  .c-page-title {
    margin-top: 8px;
  }
}
